.style-logo{
    height: 67px;
}

.nav-link:hover{
    text-decoration-line: underline;
        
}
.carousel-item{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 25%;
    left: 10%;
    color: black;
}
.carousel-caption button{
    color: #ffff;
    background-color: #0d6efd;
    font-size: 15px;
    padding: 8px 20px;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    position: absolute;
    left: 0;
}
.carousel-caption button:hover{
    background-color:rgb(41, 41, 115) ;

}
.mda{
    display: none;
}

@media (max-width:767px){
    .mda{
        display:block;
    }
}
.card-img-top{
    cursor: pointer;
}
.anger-tagg{
    text-decoration: none;
    font-size: 19px;
    font-weight:bold;
}
.anger-tagg:hover{
    text-decoration: underline;
}
.icons style{
   margin-top: 50px;
}
.card-img-top{
    height: 150px;
}
.store-img{
    height: 500px;
    width: 100%;
    background: url(imag/micro.png);
    background-image: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.container{
    margin-top: 100px;
}
footer{
    background: #f2f2f2;
    
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color:#616161;
}
.footer-head{
    color: #616161;
    font-weight: bold;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
#btn-hover:hover{
    background-color: rgba(219, 47, 219, 0.067);
    cursor:pointer;
}